#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}

.hexagon {
  position: absolute;
  padding: 0px;
  will-change: filter;
  transition: filter 300ms;

  &:hover {
    transform: rotate(10deg);
    border: 2px solid #ff0000;
  }
}

.map-frame {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.no-scrollbars{
  scrollbar-width: none;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar {
    width: 1px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

.no-scrollbars::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}